.button1 {
    background-color: rgb(1, 41, 1); /* Green */
    border: none;
    color: white;
    padding: 30px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    cursor: pointer;
    width: 70%;
}
.button1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.row1{
    text-align: center;
    font-size: 20px;
    overflow:hidden;
}

#go{
    background-color: rgb(9, 43, 156); /* Green */
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 40px 2px;
    cursor: pointer;
    width: 10%;
    align-content: center;
}

#go:hover{
    background-color: rgb(64, 53, 219); /* Green */
    color: white;
}

#nav_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
    position:fixed;
    top:0;
    width:100%;
}

li{
    float: left;
}
 
li a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:lightblue;
}

li a:active{
    backgroud-color: red;
}

/*#college, #sport{

}*/

#body{
    background-color: rgb(247, 241, 236);
    background-image: url('bg3.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

